In [ ]:

import pandas as pd
import io
 
df = pd.read_csv('train.csv')
df

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,l,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28317,b'gAAAAABinOiX2ss5U2ZT5zFd8zf7HcBDWPvbivNz5wAy...,M,Y,Y,1,D,D,B,0,1,...,-8.651173,1.877460,3.637551,11.404942,1.862441,0,0,0.019793,5,0
28318,b'gAAAAABinOiabmEADrCTZQktCKiahJkR_0kDa_8WOlos...,M,Y,Y,1,D,D,B,0,1,...,-8.833046,1.559138,4.247487,5.530054,1.671527,0,0,0.371074,2,0
28319,b'gAAAAABinOicscC37w1W9uiIlYL1U5D_mUtmgdUg8QTl...,F,Y,Y,1,D,D,B,0,1,...,-9.233722,1.455911,2.900249,6.058681,1.627479,0,1,0.826587,1,0
28320,b'gAAAAABinOib-JZ8iQDxjSRsa1dPT1TqeSQ_si4mAw5f...,M,Y,Y,1,B,C,B,1,1,...,-8.748941,2.074394,10.673259,11.387646,1.560391,0,0,0.103523,5,0
28321,b'gAAAAABinOiZ3mCQAtoJFXj-Ymjhi9FbbZ_Ypi5gDoAE...,M,Y,Y,1,D,D,B,1,l,...,-9.280950,1.490478,3.569598,4.584967,1.777995,0,1,0.435079,5,0

In [ ]:
df.describe()

,s13,s48,s56,s57,s59,n1,n2,n3,n4,n5,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
count,28322.000000,28322.000000,0.0,0.0,0.0,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,...,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000
mean,0.983123,0.433338,NaN,NaN,NaN,10.201863,1.600111,4.805099,5.080537,-32.641183,...,-9.107429,1.612428,5.232644,6.115109,1.699553,0.009992,0.089506,0.497570,2.997740,0.168067
std,0.128814,0.495545,NaN,NaN,NaN,4.414660,0.664985,2.199282,2.276162,0.241453,...,0.205200,0.173560,2.179705,2.474138,0.115150,0.099462,0.285478,0.289207,2.007611,0.373933
min,0.000000,0.000000,NaN,NaN,NaN,2.200736,0.311727,0.000000,1.700370,-33.167589,...,-9.517986,1.178469,2.508858,1.173465,1.500006,0.000000,0.000000,0.000101,0.000000,0.000000
25%,1.000000,0.000000,NaN,NaN,NaN,6.592127,1.013540,3.000000,2.833161,-32.862207,...,-9.258473,1.489924,3.464229,4.414671,1.600056,0.000000,0.000000,0.247801,1.000000,0.000000
50%,1.000000,0.000000,NaN,NaN,NaN,9.535961,1.462197,5.000000,4.840320,-32.577026,...,-9.174557,1.537263,4.461770,5.317154,1.698556,0.000000,0.000000,0.495255,3.000000,0.000000
75%,1.000000,1.000000,NaN,NaN,NaN,14.432580,2.194510,6.000000,7.300738,-32.396733,...,-8.964786,1.730249,6.524341,7.027610,1.799238,0.000000,0.000000,0.748786,5.000000,0.000000
max,1.000000,1.000000,NaN,NaN,NaN,20.882733,3.137331,9.000000,8.594620,-32.289180,...,-8.586583,2.173593,11.214870,12.029135,1.899995,1.000000,1.000000,0.999990,6.000000,1.000000

In [ ]:
df.isnull().sum()

id            0
gender        0
s11           0
s12           0
s13           0
s16           0
s17           0
s18           0
s48           0
s52           0
s53           0
s54       25694
s55       25116
s56       28322
s57       28322
s58           0
s59       28322
s69           0
s70           0
s71           0
n1            0
n2            0
n3            0
n4            0
n5            0
n6            0
n7            0
n8            0
n9            0
n10           0
n11           0
n12           0
n13           0
n14           0
n15           0
label         0
dtype: int64

In [ ]:
df.dtypes

id         object
gender     object
s11        object
s12        object
s13         int64
s16        object
s17        object
s18        object
s48         int64
s52        object
s53        object
s54        object
s55        object
s56       float64
s57       float64
s58        object
s59       float64
s69        object
s70        object
s71        object
n1        float64
n2        float64
n3          int64
n4        float64
n5        float64
n6        float64
n7        float64
n8        float64
n9        float64
n10       float64
n11       float64
n12         int64
n13         int64
n14       float64
n15         int64
label       int64
dtype: object

In [ ]:
df['s53'].value_counts()

      25752
       2570
Name: s53, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [ ]:
encoded_gender = le.fit_transform(df['gender'])
df['encoded_gender'] = encoded_gender
encoded_s11 = le.fit_transform(df['s11'])
df['encoded_s11'] = encoded_s11
encoded_s12 = le.fit_transform(df['s12'])
df['encoded_s12'] = encoded_s12
encoded_s16 = le.fit_transform(df['s16'])
df['encoded_s16'] = encoded_s16
encoded_s17 = le.fit_transform(df['s17'])
df['encoded_s17'] = encoded_s17
encoded_s18 = le.fit_transform(df['s18'])
df['encoded_s18'] = encoded_s18
encoded_s52 = le.fit_transform(df['s52'])
df['encoded_s52'] = encoded_s52

In [ ]:
encoded_s58 = le.fit_transform(df['s58'])
df['encoded_s58'] = encoded_s58
encoded_s69 = le.fit_transform(df['s69'])
df['encoded_s69'] = encoded_s69
encoded_s70 = le.fit_transform(df['s70'])
df['encoded_s70'] = encoded_s70
encoded_s71 = le.fit_transform(df['s71'])
df['encoded_s71'] = encoded_s71

In [ ]:
df['encoded_s52'].value_counts()

1    20524
2     6508
0     1094
3      196
Name: encoded_s52, dtype: int64

In [ ]:
df.columns

Index(['id', 'gender', 's11', 's12', 's13', 's16', 's17', 's18', 's48', 's52',
       's53', 's54', 's55', 's56', 's57', 's58', 's59', 's69', 's70', 's71',
       'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11',
       'n12', 'n13', 'n14', 'n15', 'label', 'encoded_gender', 'encoded_s11',
       'encoded_s12', 'encoded_s16', 'encoded_s17', 'encoded_s18',
       'encoded_s52', 'encoded_s58', 'encoded_s69', 'encoded_s70',
       'encoded_s71'],
      dtype='object')

In [ ]:
df=df.drop([ 'gender', 's11', 's12','s53','s54', 's16', 's17', 's18','s55','s56','s57','s59','s69', 's70', 's71','s52','s58'], axis = 1)

In [ ]:
df.head()

,id,s13,s48,n1,n2,n3,n4,n5,n6,n7,...,encoded_s11,encoded_s12,encoded_s16,encoded_s17,encoded_s18,encoded_s52,encoded_s58,encoded_s69,encoded_s70,encoded_s71
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,1,0,16.144666,1.989441,2,2.318385,-32.839277,0.017176,-9.126056,...,1,0,3,3,1,1,1,2,3,1
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,1,1,7.144558,0.844866,3,6.197768,-32.576597,0.013857,-9.098287,...,1,1,3,3,1,1,1,2,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,1,0,6.923236,1.042018,6,7.824401,-32.510544,0.013943,-9.234894,...,1,1,3,3,1,1,1,2,3,1
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,1,0,5.749840,0.781439,2,8.256767,-32.398679,0.010387,-9.378025,...,1,1,3,3,1,1,1,2,3,1
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,1,1,14.771959,1.248188,3,2.300011,-32.396746,0.016289,-9.261962,...,0,1,1,3,3,2,1,3,3,3

In [ ]:
df.dtypes

id                 object
s13                 int64
s48                 int64
n1                float64
n2                float64
n3                  int64
n4                float64
n5                float64
n6                float64
n7                float64
n8                float64
n9                float64
n10               float64
n11               float64
n12                 int64
n13                 int64
n14               float64
n15                 int64
label               int64
encoded_gender      int64
encoded_s11         int64
encoded_s12         int64
encoded_s16         int64
encoded_s17         int64
encoded_s18         int64
encoded_s52         int64
encoded_s58         int64
encoded_s69         int64
encoded_s70         int64
encoded_s71         int64
dtype: object

In [ ]:
df.head()

,id,s13,s48,n1,n2,n3,n4,n5,n6,n7,...,encoded_s11,encoded_s12,encoded_s16,encoded_s17,encoded_s18,encoded_s52,encoded_s58,encoded_s69,encoded_s70,encoded_s71
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,1,0,16.144666,1.989441,2,2.318385,-32.839277,0.017176,-9.126056,...,1,0,3,3,1,1,1,2,3,1
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,1,1,7.144558,0.844866,3,6.197768,-32.576597,0.013857,-9.098287,...,1,1,3,3,1,1,1,2,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,1,0,6.923236,1.042018,6,7.824401,-32.510544,0.013943,-9.234894,...,1,1,3,3,1,1,1,2,3,1
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,1,0,5.749840,0.781439,2,8.256767,-32.398679,0.010387,-9.378025,...,1,1,3,3,1,1,1,2,3,1
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,1,1,14.771959,1.248188,3,2.300011,-32.396746,0.016289,-9.261962,...,0,1,1,3,3,2,1,3,3,3

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              28322 non-null  object
 1   s13             28322 non-null  int64
 2   s48             28322 non-null  int64
 3   n1              28322 non-null  float64
 4   n2              28322 non-null  float64
 5   n3              28322 non-null  int64
 6   n4              28322 non-null  float64
 7   n5              28322 non-null  float64
 8   n6              28322 non-null  float64
 9   n7              28322 non-null  float64
 10  n8              28322 non-null  float64
 11  n9              28322 non-null  float64
 12  n10             28322 non-null  float64
 13  n11             28322 non-null  float64
 14  n12             28322 non-null  int64
 15  n13             28322 non-null  int64
 16  n14             28322 non-null  float64
 17  n15             28322 non-null  int64
 18  label           28322 non-null  int64
 19  encoded_gender  28322 non-null  int64
 20  encoded_s11     28322 non-null  int64
 21  encoded_s12     28322 non-null  int64
 22  encoded_s16     28322 non-null  int64
 23  encoded_s17     28322 non-null  int64
 24  encoded_s18     28322 non-null  int64
 25  encoded_s52     28322 non-null  int64
 26  encoded_s58     28322 non-null  int64
 27  encoded_s69     28322 non-null  int64
 28  encoded_s70     28322 non-null  int64
 29  encoded_s71     28322 non-null  int64
dtypes: float64(11), int64(18), object(1)
memory usage: 6.5+ MB

In [ ]:
df_test=pd.read_csv("test.csv")
df_test.head()

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n6,n7,n8,n9,n10,n11,n12,n13,n14,n15
0,b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COx...,M,Y,Y,1,B,D,D,0,l,...,0.026301,-9.200175,2.122970,6.646617,4.801224,1.693087,0,0,0.439270,2
1,b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsn...,M,Y,Y,1,B,C,B,1,l,...,0.010774,-8.897092,1.770889,11.046294,6.407230,1.516728,0,0,0.084334,4
2,b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5...,M,Y,N,1,B,D,B,1,l,...,0.016837,-9.173660,1.871872,2.805834,5.481219,1.788823,0,0,0.984210,0
3,b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPi...,M,Y,Y,1,D,D,B,0,1,...,0.015684,-9.178200,1.675028,6.354938,5.427266,1.792147,0,0,0.003492,1
4,b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7E...,M,Y,Y,1,D,C,B,1,1,...,0.006406,-8.726633,1.963535,6.810158,11.487845,1.880992,0,0,0.060614,0

In [ ]:
encoded_gender = le.fit_transform(df_test['gender'])
df_test['encoded_gender'] = encoded_gender
encoded_s11 = le.fit_transform(df_test['s11'])
df_test['encoded_s11'] = encoded_s11
encoded_s12 = le.fit_transform(df_test['s12'])
df_test['encoded_s12'] = encoded_s12
encoded_s16 = le.fit_transform(df_test['s16'])
df_test['encoded_s16'] = encoded_s16
encoded_s17 = le.fit_transform(df_test['s17'])
df_test['encoded_s17'] = encoded_s17
encoded_s18 = le.fit_transform(df_test['s18'])
df_test['encoded_s18'] = encoded_s18
encoded_s52 = le.fit_transform(df_test['s52'])
df_test['encoded_s52'] = encoded_s52
encoded_s58 = le.fit_transform(df_test['s58'])
df_test['encoded_s58'] = encoded_s58
encoded_s69 = le.fit_transform(df_test['s69'])
df_test['encoded_s69'] = encoded_s69
encoded_s70 = le.fit_transform(df_test['s70'])
df_test['encoded_s70'] = encoded_s70
encoded_s71 = le.fit_transform(df_test['s71'])
df_test['encoded_s71'] = encoded_s71

In [ ]:
df_test=df_test.drop(['gender', 's11', 's12','s53','s54', 's16', 's17', 's18','s55','s56','s57','s59','s69', 's70', 's71','s52','s58'], axis = 1)

In [ ]:
df_test.head()

,id,s13,s48,n1,n2,n3,n4,n5,n6,n7,...,encoded_s11,encoded_s12,encoded_s16,encoded_s17,encoded_s18,encoded_s52,encoded_s58,encoded_s69,encoded_s70,encoded_s71
0,b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COx...,1,0,17.362752,2.985283,3,2.052415,-32.339904,0.026301,-9.200175,...,1,1,1,3,3,2,1,3,3,3
1,b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsn...,1,1,15.892228,2.389056,7,6.928142,-32.356092,0.010774,-8.897092,...,1,1,1,2,1,2,0,3,2,1
2,b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5...,1,1,10.893303,1.470903,6,2.210629,-32.397871,0.016837,-9.173660,...,1,0,1,3,1,2,1,3,3,1
3,b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPi...,1,0,9.876850,1.442493,3,2.350379,-32.836003,0.015684,-9.178200,...,1,1,3,3,1,1,1,2,3,1
4,b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7E...,1,1,11.674406,2.544719,8,8.136887,-32.577495,0.006406,-8.726633,...,1,1,3,2,1,1,1,2,2,1

In [ ]:
df.columns

Index(['id', 's13', 's48', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8',
       'n9', 'n10', 'n11', 'n12', 'n13', 'n14', 'n15', 'label',
       'encoded_gender', 'encoded_s11', 'encoded_s12', 'encoded_s16',
       'encoded_s17', 'encoded_s18', 'encoded_s52', 'encoded_s58',
       'encoded_s69', 'encoded_s70', 'encoded_s71'],
      dtype='object')

In [ ]:
df_test.columns

Index(['id', 's13', 's48', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8',
       'n9', 'n10', 'n11', 'n12', 'n13', 'n14', 'n15', 'encoded_gender',
       'encoded_s11', 'encoded_s12', 'encoded_s16', 'encoded_s17',
       'encoded_s18', 'encoded_s52', 'encoded_s58', 'encoded_s69',
       'encoded_s70', 'encoded_s71'],
      dtype='object')

In [ ]:
from sklearn.datasets import make_classification
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

import pandas as pd

In [ ]:
# model=LogisticRegression()

# dt = DecisionTreeClassifier(criterion='entropy')

In [ ]:
X_train=df.drop(['id','label'], axis = 1)

In [ ]:
final_test=df_test.drop(['id'], axis = 1)

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X_train,df.label,test_size=0.2, random_state=24)

In [ ]:
X_train

,s13,s48,n1,n2,n3,n4,n5,n6,n7,n8,...,encoded_s11,encoded_s12,encoded_s16,encoded_s17,encoded_s18,encoded_s52,encoded_s58,encoded_s69,encoded_s70,encoded_s71
13142,1,0,19.316947,2.268237,3,3.803102,-32.301224,0.027422,-9.184485,2.091664,...,1,1,3,3,1,1,1,2,3,1
2663,1,1,14.808375,2.119125,6,7.223895,-32.336881,0.018445,-9.027645,1.662397,...,1,1,3,3,1,1,1,2,3,1
25257,1,1,10.093639,0.795617,1,7.531961,-32.711538,0.010287,-9.218892,1.475156,...,0,1,1,1,3,2,1,3,1,3
27434,1,0,5.714231,1.103916,3,2.260090,-32.834885,0.005128,-9.242466,1.501840,...,1,1,3,3,1,1,1,2,3,1
22664,1,0,5.026504,1.516758,3,2.993087,-32.873003,0.012390,-9.299558,1.460001,...,1,1,3,3,1,1,1,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19857,1,0,14.171017,1.854210,6,6.693419,-33.048292,0.019862,-9.100921,2.147183,...,1,1,1,3,1,1,1,3,3,1
24919,1,1,15.386515,2.442526,8,7.283085,-32.510300,0.008797,-8.888621,1.845851,...,1,1,3,3,1,2,1,2,3,1
14528,1,1,11.187909,2.198790,7,6.775528,-32.574530,0.007332,-9.016639,1.963737,...,1,0,3,3,1,1,1,2,3,1
899,1,0,14.650294,2.205863,3,2.430218,-32.448349,0.020451,-9.169840,1.815903,...,1,1,3,3,1,1,0,2,3,1
12706,1,0,15.801883,2.547243,8,7.978266,-32.395778,0.008073,-8.778857,1.742785,...,1,1,3,2,1,1,1,2,2,1

In [ ]:
X_test

,s13,s48,n1,n2,n3,n4,n5,n6,n7,n8,...,encoded_s11,encoded_s12,encoded_s16,encoded_s17,encoded_s18,encoded_s52,encoded_s58,encoded_s69,encoded_s70,encoded_s71
12842,1,1,20.348425,2.963584,2,3.854137,-32.317497,0.029672,-9.139351,2.108301,...,1,1,1,1,3,2,1,3,1,3
8584,1,1,6.355642,1.025754,3,2.447624,-33.013378,0.012602,-9.158798,1.453104,...,1,1,1,3,1,1,1,3,3,1
26432,1,1,3.302843,0.610398,3,1.911214,-32.954953,0.010396,-9.269576,1.476745,...,0,1,2,3,2,1,1,1,3,2
26990,1,1,6.574079,1.247299,4,2.182661,-32.396546,0.018307,-9.368947,1.576701,...,1,0,3,3,1,1,0,2,3,1
13774,1,0,13.041818,1.962897,3,6.645797,-32.642849,0.019281,-9.121370,1.601373,...,1,1,3,3,1,1,1,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13403,1,0,12.068208,1.876829,3,3.566049,-32.394997,0.019552,-8.986038,1.854252,...,1,1,1,3,2,2,1,3,3,2
27095,1,0,7.529312,1.031183,3,3.505750,-32.642851,0.018353,-9.233794,1.563381,...,1,0,3,3,1,1,1,2,3,1
1985,1,0,12.810438,1.736702,7,7.797355,-32.888532,0.016831,-8.932139,1.501723,...,1,1,3,3,1,1,0,2,3,1
18379,1,0,5.456400,1.073040,3,8.086543,-32.645104,0.016500,-9.051352,1.561098,...,1,1,3,3,1,1,1,2,3,1
23027,1,1,8.846556,1.033783,6,4.229425,-32.862345,0.005325,-9.237403,1.509804,...,1,1,3,3,1,1,1,2,3,1

In [ ]:
# model.fit(X_train,y_train)

dt = DecisionTreeClassifier(criterion='entropy')
dt.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [ ]:
y_pred = dt.predict(X_test)

In [ ]:
y_test

12842    1
8584     0
26432    0
26990    0
13774    0
        ..
13403    1
27095    0
1985     0
18379    0
23027    0
Name: label, Length: 5665, dtype: int64

In [ ]:
print('Test Accuracy:', accuracy_score(y_test,y_pred))

Test Accuracy: 0.8201235657546337

In [ ]:
df_test

,id,s13,s48,n1,n2,n3,n4,n5,n6,n7,...,encoded_s11,encoded_s12,encoded_s16,encoded_s17,encoded_s18,encoded_s52,encoded_s58,encoded_s69,encoded_s70,encoded_s71
0,b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COx...,1,0,17.362752,2.985283,3,2.052415,-32.339904,0.026301,-9.200175,...,1,1,1,3,3,2,1,3,3,3
1,b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsn...,1,1,15.892228,2.389056,7,6.928142,-32.356092,0.010774,-8.897092,...,1,1,1,2,1,2,0,3,2,1
2,b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5...,1,1,10.893303,1.470903,6,2.210629,-32.397871,0.016837,-9.173660,...,1,0,1,3,1,2,1,3,3,1
3,b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPi...,1,0,9.876850,1.442493,3,2.350379,-32.836003,0.015684,-9.178200,...,1,1,3,3,1,1,1,2,3,1
4,b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7E...,1,1,11.674406,2.544719,8,8.136887,-32.577495,0.006406,-8.726633,...,1,1,3,2,1,1,1,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85060,b'gAAAAABinOjbnJVk2-nOVQsYB9p4DK26fTLLik_UR2H0...,1,1,10.547381,1.452660,7,8.000085,-32.578221,0.011017,-8.994304,...,1,1,2,2,2,2,1,1,2,2
85061,b'gAAAAABinOi7ixyXrlKYlx8D9i0-TIPD5elP2k-vuekn...,1,1,10.149117,2.168239,6,6.011115,-32.447282,0.019550,-9.131275,...,1,1,1,2,2,2,1,3,2,2
85062,b'gAAAAABinOi31zWSlD0OMhbBd3_weh7Kq6aPeO4yYqns...,1,1,3.744380,0.661328,2,2.112016,-32.351165,0.015461,-9.249529,...,0,1,3,0,2,1,1,2,0,2
85063,b'gAAAAABinOjIe7jFVk9k7jiH8Y3rdpUHDTZG2T2isunp...,1,1,10.194615,1.557863,2,2.433086,-32.363871,0.010612,-9.229158,...,0,1,1,3,3,2,1,3,3,3
85064,b'gAAAAABinOiiLo4KNZVgClHgtOFRzEU9O97My6MowJFa...,1,0,10.109654,1.517923,0,6.809017,-32.644558,0.029553,-9.225671,...,1,1,3,3,1,1,1,2,3,1

In [ ]:
dt.score(X_test,y_test)

0.8201235657546337

In [ ]:
df_test['predicted_label']=dt.predict(final_test)

In [ ]:
df_test

,id,s13,s48,n1,n2,n3,n4,n5,n6,n7,...,encoded_s12,encoded_s16,encoded_s17,encoded_s18,encoded_s52,encoded_s58,encoded_s69,encoded_s70,encoded_s71,predicted_label
0,b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COx...,1,0,17.362752,2.985283,3,2.052415,-32.339904,0.026301,-9.200175,...,1,1,3,3,2,1,3,3,3,1
1,b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsn...,1,1,15.892228,2.389056,7,6.928142,-32.356092,0.010774,-8.897092,...,1,1,2,1,2,0,3,2,1,0
2,b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5...,1,1,10.893303,1.470903,6,2.210629,-32.397871,0.016837,-9.173660,...,0,1,3,1,2,1,3,3,1,1
3,b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPi...,1,0,9.876850,1.442493,3,2.350379,-32.836003,0.015684,-9.178200,...,1,3,3,1,1,1,2,3,1,0
4,b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7E...,1,1,11.674406,2.544719,8,8.136887,-32.577495,0.006406,-8.726633,...,1,3,2,1,1,1,2,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85060,b'gAAAAABinOjbnJVk2-nOVQsYB9p4DK26fTLLik_UR2H0...,1,1,10.547381,1.452660,7,8.000085,-32.578221,0.011017,-8.994304,...,1,2,2,2,2,1,1,2,2,1
85061,b'gAAAAABinOi7ixyXrlKYlx8D9i0-TIPD5elP2k-vuekn...,1,1,10.149117,2.168239,6,6.011115,-32.447282,0.019550,-9.131275,...,1,1,2,2,2,1,3,2,2,0
85062,b'gAAAAABinOi31zWSlD0OMhbBd3_weh7Kq6aPeO4yYqns...,1,1,3.744380,0.661328,2,2.112016,-32.351165,0.015461,-9.249529,...,1,3,0,2,1,1,2,0,2,0
85063,b'gAAAAABinOjIe7jFVk9k7jiH8Y3rdpUHDTZG2T2isunp...,1,1,10.194615,1.557863,2,2.433086,-32.363871,0.010612,-9.229158,...,1,1,3,3,2,1,3,3,3,1
85064,b'gAAAAABinOiiLo4KNZVgClHgtOFRzEU9O97My6MowJFa...,1,0,10.109654,1.517923,0,6.809017,-32.644558,0.029553,-9.225671,...,1,3,3,1,1,1,2,3,1,0

In [ ]:
submission=pd.DataFrame(df_test,columns = ['id','predicted_label'])

In [ ]:
submission

                                                      id  predicted_label
0      b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COx...                1
1      b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsn...                0
2      b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5...                1
3      b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPi...                0
4      b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7E...                0
...                                                  ...              ...
85060  b'gAAAAABinOjbnJVk2-nOVQsYB9p4DK26fTLLik_UR2H0...                1
85061  b'gAAAAABinOi7ixyXrlKYlx8D9i0-TIPD5elP2k-vuekn...                0
85062  b'gAAAAABinOi31zWSlD0OMhbBd3_weh7Kq6aPeO4yYqns...                0
85063  b'gAAAAABinOjIe7jFVk9k7jiH8Y3rdpUHDTZG2T2isunp...                1
85064  b'gAAAAABinOiiLo4KNZVgClHgtOFRzEU9O97My6MowJFa...                0

[85065 rows x 2 columns]

In [ ]:
submission.to_csv("submission.csv")

In [ ]:
print('Train Accuracy:', accuracy_score(y_train,dt.predict(X_train)))

Train Accuracy: 1.0